@import url(global.css);
@import url(components/articules.css);




footer,
header {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  color: #ffffff;
  padding: 16px 0px 16px 0px;
  text-align: center;
  background: #44403c;
}
